<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
</head>
<body>
<a href="/" class="btn btn-info">Return to main menu</a>
<div class="credit-card-wrap">
  <div class="mk-icon-world-map"></div>
  <div class="credit-card-inner">
    <header class="header">
      <div class="credit-logo">
        <div class="shape"><span class="txt">PB</span></div> <span class="text">National Bank</span>
      </div>
    </header>
    <div class="mk-icon-sim"></div>
    <div class="credit-font credit-card-number" data-text="4716">4716 6109 5211 3010</div>
    <footer class="footer">
      <div class="clearfix">
        <div class="pull-left">
          <div class="credit-card-date"><span class="title">Expires End</span><span class="credit-font">01/03/2022</span></div>
        </div>
        <div class="pull-right"><div class="mk-icon-visa"></div></div>
      </div>
    </footer>
  </div>
</div>
    <a class="btn btn-primary" href="/Sum">Cash in</a>
    <a class="btn btn-primary" href="/Sum1">Cash out</a>
</body>
</html>